<div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar GIFs...">
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex in, modi magnam beatae, officiis itaque
          unde quidem deserunt, laboriosam assumenda aliquam culpa temporibus quae iure alias delectus facilis nam.</p>
      </div>
    </div>

  </div>