<h2>Por País</h2>

<hr>

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      (ngSubmit)="search()">
      <input
        type="text"
        name="searchTerm"
        placeholder="Buscar país"
        class="form-control"
        [(ngModel)]="searchTerm">
    </form>
  </div>
</div>

<hr>

<div
  *ngIf="isError"
  class="alert alert-danger">
  <h6>No se encontró nada con el término de búsqueda "{{ searchTerm }}".</h6>
</div>

<div
  class="row"
  *ngIf="countries.length > 0"
  class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr
        *ngFor="let country of countries; let i = index">
          <td> {{ i + 1 }} </td>
          <td>
            <img
              [src]="country.flags.svg"
              alt="Bandera de {{country.name.official}}."
              class="small-flag">

          </td>
          <td> {{ country.name.official }} </td>
          <td> {{ country.population | number }} </td>
          <td>
            <a [routerLink]="['/country',  country.cca2 ]">Ver más</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
